li{
	display: inline-block;
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.parrafo{
	width: 200px;
	
}
.bg1{
	background-image: url("../img/dance_1.jpg");
	background-size: 100% 100%;
	height: 400px;
}
.espacio{
	margin-left: 10%;
	margin-top: 2%;
}
.bg2{
	background-image: url("../img/textura_2.jpg");
	background-size: 100% 100%;
}
.bg3{
	background-image: url("../img/instructor_4.jpg");
	background-size: 100% 100%;
	height: 400px;
}
.bg4{
	background-image: url("../img/profesor_9.jpg");
	background-size: 100% 100%;
	height: 400px;
	}
iframe{
	width:500px;
	 height:250px;
	  frameborder:0px;
	  style:border:0px;
}
.bgb{
	background-color:#37347D;
}
.decoracion1{
	width: 10%;
	height: 5%;
}
.buttoncolor{
	background-color: #37347D;
	color:white;
	text-decoration-style: none;
}
.espacio2{
	margin-top: 5%;

}
#font1{
	
	font-size: 80px;
}

#font2{

	font-size: 25px;
	margin-left: 10%;
	margin-right: 10%;
}

#font3{

	font-size: 40px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom:10%; 
	margin-top:10%;
}

#but{
	width: 25%;
	height: 10%;
	padding: 2%;
	font-size: 120%;
	border-radius: 5%;
	border-style: none;
	margin-bottom: 5%;

}
#but1{
	width: 10%;
	height: 2%;
	padding: 1%;
	font-size: 80%;
	border-radius: 5%;
	border-style: none;
	/* margin-bottom: 5%; */
}
footer{
	padding-top:2%; 
	padding-bottom:2%;
}
#blue{
	padding-bottom: 5%;
	padding-top:5%;
	margin-left: 2%;
}
.but2{
	width: 35%;
	height: 8%;
	padding: 1%;
	font-size: 120%;
	/* border-radius: 5%; */
	border-style: none;
	margin-bottom: 2%;

}
.bgf{
	background-image: url("../img/shoes_1.jpg");
	background-size: 100% 100%;
	/* height: 400px; */
}
input{
	margin-bottom: 3%;
	opacity: 0.8;
}
.instructores{
	width: 25%;
	height: 10%;
	padding: 2%;
	font-size: 120%;
	border-radius: 5%;
	border-style: none;
	/* margin-top:5%; 
	 */
}